@{

}
<center><h2></h2></center>
<a href='@Url.Action("CrearAdministrador", "PaginasExtraAdministrador")'>Crear cuenta de Administrador</a>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h3>Ofertas</h3>
        </div>
        <div class="col-xs-4">
            <h3>Buscar un producto</h3>
            <form>
                <input type="text" name="producto" placeholder="Nombre del producto">
                <input type="submit" value="Buscar">
            </form>
        </div>
        <div class="col-xs-4">
            <h3>Categorías de productos</h3>
        </div>
    </div>
</div>
