
@{
   
}

<center><h2>WebBaratico</h2></center>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h3>Ofertas</h3>
        </div>
        <div class="col-xs-4">
            <h3>Buscar un producto</h3>
            <form>
                <input type="text" name="producto" placeholder="Nombre del producto">
                <input type="submit" value="Buscar">
            </form>
        </div>
        <div class="col-xs-4">
            <button style="background-color:white;border:0px;">
                <img src="~/images/carrito.png" width="30px" />
                Carrito
            </button>
            <br />
            <button style="background-color:white;border:0px;">
                <img src="~/images/facturas.png" width="30px" />
                Facturas
            </button>
            <br />
            <button style="background-color:white;border:0px;">
                <img src="~/images/mensajes.png" width="30px" />
                Mensajería con Administrador
            </button>
            <br />
            <button style = "background-color:white;border:0px;">
                <img src="~/images/salir.jpeg" width="30px" />
                Salir
            </button>
            <h3>Categorías de productos</h3>
        </div>
    </div>
</div>
