
@{

}
<center>
    <h2>Carrito de Compras</h2>
</center>

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <h3>Productos</h3>
            <ul class="list-group">
                <button type="button" class="list-group-item">Productos van aqui</button>
            </ul>
            <p>Sutotal: XXXX</p>
            <p>Total: XXXX</p>
        </div>
        <div class="col-xs-3">
            <br><br><br>
            <form>
                <input type="submit" value="Eliminar Producto">
            </form>
            <br>
            <form>
                <input type="submit" value="Eliminar Todos">
            </form>
        </div>
    </div>
    <button onClick="location.href = '@Url.Action("PrincipalAdministrador", "PaginaPrincipal")';">
        Volver a la página principal
    </button>
    <button>
        Pagar y Retirar
    </button>
</div>

    
