
@{
}
<center>
    <h2>WebBaratico</h2>
</center>
<div class="container">
    <div class="row">
        <div class = "col-xs-3"></div>
        <div class="col-xs-3">
            <h3>IniciarSesión</h3>
            <br>
            <form>
                <input type="text" name="usuario" placeholder="Usuario">
                <br><br>
                <input type="text" name="contraseña" placeholder="Contraseña">
                <br><br>
                <input type="submit" value="Entrar">
            </form>
        </div>
        <div class="col-xs-6">
            <h3>Crear una nueva cuenta</h3>
            <br />
            <form>
                <input type="text" name="nombre" placeholder="Nombre" size="10">
                <input type="text" name="apellidos" placeholder="Apellidos" size="10">
                <br /><br />
                <input type="text" name="correoelectronico" placeholder="Correo Electrónico" size="25">
                <br /><br />
                <input type="text" name="usuario" placeholder="Usuario" size="25">
                <br><br>
                <input type="text" name="contraseña" placeholder="Contraseña" size="25">
                <br><br>
                <input type="submit" value="Crear Cuenta">
            </form>
        </div>
            <br />
        </div>
    </div>